/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/


html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#inspector {
  background-color: lightgray;
  color: black;
  font-family: Georgia,serif;
  font-size: 15px;
  display: inline-block;
  width: 100%;
  padding-bottom: 300px;
}

#inspector .zora-cardOuter {
  margin: 0 auto;
}

#inspector h1 {
  margin: 50px auto 30px auto;
  text-align: center;
  font-size: 50px;
}

#inspector form {
  margin: 50px auto;
  width: 100%;
}

#inspector form div {
  margin: 10px;
}

#inspector form label {
  margin-right: 10px;
  text-align: right;
  display: inline-block;
  width: 300px;
  font-weight: bold;
}

#inspector form input {
  border: 1px solid black;
  padding: 2px 15px;
  line-break: normal;
  width: 400px;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
}

#inspector pre {
  margin-top: 0px;
  width: 700px;
  overflow-wrap: break-word;
  overflow: scroll;
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}
